.card {
  display: flex;
  flex-direction: column;
  width: 350px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 15px 6px;
  justify-self: center;
}
.card__img {
  max-width: 320px;
  height: 140px;
}
.card__title {
  font-size: 0.8rem;
  text-align: center;
}
.card__title,
.card__img {
  align-self: center;
}
.card__actions {
  display: flex;
  justify-content: space-between;
}
.card__actions--detail {
  color: white;
  background-color: cornflowerblue;
  border-radius: 8px;
  cursor: pointer;
}

.card__actions--detail:disabled {
  cursor: not-allowed;
}
